.forgot p{
font-size: .8rem;
	
}

.login-image img{
	width: 30rem;
	height: 24rem;
}

.error-message {
	font-size: 0.75rem;
	color: #ef4444;
	position: relative;
	top: -0.75rem;
}

.hide{
	display: none;
}

.form-select.form-control{
    border-radius: 10rem;
	font-size: .8rem;
	height: calc(1.5em + 1.75rem + 2px);
	color: #858796;
}

.forgot-image img {
    width: 30rem;
	height: 22rem;
	margin-top:2.8rem;
}

.signUp-image img {
    width: 30rem;
	height: 25rem;
	margin-top:2.8rem;
}

.img-icon{
	width: 9rem;
	margin-bottom: 1.2rem;
	position: absolute;
    top: 26px;
    left: -457px;
}

.img-profile{
	height: 10rem;
	width: 8rem;
}

.card-header{
	border-bottom: 0;
}

.table td{
	text-align: center;
}

#selectLan{
	width: 50%;
	margin-left: 50%;
	margin-bottom: 6%;
	font-size: .8rem;
}

.fas{
	margin-right:6%;
}

#mypageFrm .btn-danger{
	width: 15%;
}